<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    {% comment %} For Web Browser Icon {% endcomment %}
    <link rel="icon" href="/static/images/godenel.png" type="image/jpg">
    {% comment %} For CSS Styling {% endcomment %}
    <link rel="stylesheet" type ="text/css" href="/static/styles.css"> 
    {% comment %} For linking JavaScript functionality {% endcomment %}
    {% comment %} <script src="../js/myScript.js"></script>  {% endcomment %}

    {% comment %} Below is to link the IBM Plex Sans and IBM Plex Mono Font {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<header>
        <nav>
            <a href="/">
                <h1>Nicks Portfolio</h1>
            </a>
            {% comment %} <hr> {% endcomment %}
            <div>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            </div>
        </nav>
</header>
</html>