<!DOCTYPE html>
<html>
    {%include "header.html" with title="Homepage"%}
    <body>
        <h3>About me:</h3>
        <p>My name is Nick Kroop and I'm currently a 3rd year student pursuing a Bachelor's of Science in Software Development at the University of Utah.</p>
        <p>In my free time I like to read books, play the guitar (both electric and acoustic), work on programming projects, and lift weights at the gym.</p>
        <p>Throughout my academic career I have so fair gained a deep understanding of Unit Testing (primarily with JUnit), Pair Programming, Object-Oriented Programming, Data Structures, and Algorithms. As far as programming languages go, I have learned: HTML, CSS, Java, Python (and a little bit of C).</p>
        <br>
       
        <p>E-Mail: nickkroop@gmail.com</p>
        <p>Phone: 858-735-0472</p>
        <a href="https://www.linkedin.com/in/nicholas-kroop-2368322a3/" target="_blank">LinkedIn </a>
        <br>
        <br>
        <a href="" target="_blank">GitHub</a>     
    </body>
</html>