<!DOCTYPE html>
<html>
    {%include "header.html" with title="Nick's Portfolio"%}
    <body>
        <main>
                {% comment %} ABOUT ME{% endcomment %}
                <div class="aboutMe contentArea">
                    <h2>About me:</h2>
                    <p>
                        I'm currently a 4th year student pursuing a Bachelor's of Science in Software Development at the John and Maria Price College of Engineering 
                        at the University of Utah.
                        Throughout my academic career I have learned and practiced software engineering principles via different kinds of development frameworks and methodologies such as scrum and waterfall.
                        In my free time I like to read books, play the guitar (both electric and acoustic), work on programming projects, and lift weights at the gym.
                    </p>
                </div>
                {% comment %} CONTACTS  {% endcomment %}
                <div class="horizonBar contentArea">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/lilzooty">
                        <div class="contactIcon">
                            <img src="static/images/githubIcon.png" alt="Github Icon"/>
                        </div>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/nickkroop">
                        <div class="contactIcon">
                            <img src="static/images/linkedinIcon.webp" alt="LinkedIn Icon"/>
                        </div>
                    </a>
                    <a href="mailto:nickkroop@gmail.com">
                        <div class="contactIcon">
                            <img src="static/images/emailIcon.jpg" alt="Email Icon"/>
                        </div>
                    </a>
                    <a href="tel:18587350472">
                        <div class="contactIcon">
                            {% comment %} Phone Icon {% endcomment %}
                            <img src="static/images/phoneIcon.png" alt="Phone Icon"/>
                            <p> +1 (858-735-0472)</p>

                        </div>
                    </a>
                </div>

                {% comment %} SKILLS SHOULD BE A GRID {% endcomment %}
                <div class ="skillsGrid">
                    
                </div>
           
        </main>
    </body>
</html>