<!DOCTYPE html>
<html>
    {%include "header.html" with title="Projects"%}
    <body>
        <h2 style="font-weight: bold;">My Projects</h2>
        <small>The following projects are available on my GitHub</small>
        <ul>
            <li>PrimordialGPT</li>
            <p>A simple generative AI text bot for the final project of my DS&A class. Runs using the terminal and takes in 3 different arguments.</p>
            <li>Spreadsheet</li>
            <p>A simple spreadsheet app inspired by Microsoft's Excel developed while in software dev practice class. Has a fully functional user interface as it's own web app.</p>
            <li>ProfessionalWebsite</li>
            <p>This current website you are reading this on is a major project of mine and is so far the only one that I am developing solely on my own time.</p>
        </ul>
    </body>
</html>