body * {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


#resumeDiv {
    text-align: center;

}
#resumePic {
    border: 5px solid #0000006f;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    width: 80%;
    margin: auto;

}

nav * {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
